  
  <h1>User List</h1>
    <table>
     <tr>
       <td>Name </td>    
       <td>Role </td>
     </tr>
      <% @users.each do |users| %>   
     <tr>
      <td><%= users.name %></td>
      <td>
        <% if users.is_admin?%>
        <%= users.role %>
        <%end %>
      </td>
     </tr>
     <% end %>
      </table>

   
  