<div>
  <h1>User Profile</h1>
  <table>
     <tr>
       <td>Name: </td> 
        <td><%= @user.name %></td>   
     
     </tr>
     
     <tr>
       <td>Role: </td>
      <td>
        <% if @user.is_admin? %>
        <%= @user.role %>
        <%end%>
      </td>
     </tr>
     
      </table>
</div>